<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Listners.Report" />
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/alena/Downloads/BookMyShow">
        <classes>
            <class name="Test_script.List_your_show_script"></class>
            <class name="Test_script.CheckOffer_Script"></class>
            <class name="Test_script.FooterValidation_Script"></class>
            <class name="Test_script.ChooseCity_Script"></class>
            <class name="Test_script.SelectLanguage_Script"></class>
            <class name="Test_script.SearchMovie_script"></class>
            <class name="Test_script.CastandCrew_Script"></class>
            <class name="Test_script.SortedProduct_Script"></class>
            <class name="Test_script.Filterprice_Script"></class>






        </classes>
    </test>
</suite>